<h1>Burgers</h1>
<ul>
    {{#each burgers}}
    {{burger_name}} <br>
    {{/each}}
</ul>

<h1>Add a burger!</h1>
<form class="addBurgerForm">
    <input type="text" id="burgerAddText" name="burgerName"><br>
    <button type="submit" name="burgerAddButton">Add It!</button>
</form>