<div class="container">
    <div class="row">
        <div class="col" align="center">
            <img src="/assets/images/burger.png">
        </div>
    </div>

    <div class="row">
        <div class="col" align="center">
            <h1>Eat Da Burger!</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <h2>Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}

                <div class="burger">
                    {{burger_name}} <button class="eatBurger" id="{{this.id}}" data-devoured="{{this.devoured}}">Eat
                        It!</button>
                </div>
                <br>

                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-4">
            <h2>Add a burger!</h2>
            <form class="addBurgerForm">
                <input type="text" id="burgerAddText" name="burgerName"><br>
                <button type="submit" name="burgerAddButton">Add It!</button>
            </form>
        </div>

        <div class="col-4">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <div class="burger eaten">
                    {{burger_name}}
                </div>
                <br>
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
</div>