body{
    background-color: bisque;
}

img{
    height: 200px;
    width: 200px;
}

button{
    background-image: linear-gradient(rgb(8, 197, 255), rgb(0, 135, 189));
    color: whitesmoke;
}

.burger{
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-color: silver;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

.eaten{
    text-decoration: line-through;
}